<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>userLogin</servlet-name>
        <servlet-class>Controller.User.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userRegister</servlet-name>
        <servlet-class>Controller.User.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.User.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadList</servlet-name>
        <servlet-class>Controller.Party.LoadList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>Controller.User.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidateLoadList</servlet-name>
        <servlet-class>Controller.Candidate.LoadList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doVote</servlet-name>
        <servlet-class>Controller.Party.doVote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>Controller.User.Edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Load</servlet-name>
        <servlet-class>Controller.Parameter.Load</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyScrutiny</servlet-name>
        <servlet-class>Controller.Parameter.ModifyScrutiny</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userLogin</servlet-name>
        <url-pattern>/User/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userRegister</servlet-name>
        <url-pattern>/User/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/User/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadList</servlet-name>
        <url-pattern>/PoliticalParty/LoadList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/User/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidateLoadList</servlet-name>
        <url-pattern>/Candidate/LoadList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doVote</servlet-name>
        <url-pattern>/doVote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/User/Edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Load</servlet-name>
        <url-pattern>/Parameter/Load</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyScrutiny</servlet-name>
        <url-pattern>/Parameter/ModifyScrutiny</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
